name: Release to Github

on:
  push:
    branches:
      - master

permissions: write-all

defaults:
  run:
    working-directory: ./

jobs:
  publish-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, xml, ctype, iconv, pdo_sqlite, pdo_mysql, pdo_pgsql, dom
          tools: composer:v2

      - name: Install Dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Semantic Release
        uses: mridang/action-semantic-release@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
