name: Run Tests (PHPUnit)

on: push

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  app-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, xml, ctype, iconv, pdo_sqlite, pdo_mysql, pdo_pgsql, dom
          tools: composer:v2

      - name: Install Dependencies
        run: composer install --no-interaction --no-progress --prefer-dist

      - name: Run Tests
        run: composer test

      - name: Generate coverage report
        if: always()
        uses: mridang/action-test-reporter@v3
        with:
          results-path: 'build/reports/**/*.xml'
          coverage-path: 'build/coverage/clover.xml'
